main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 3%;
    margin: 3%;
    margin-top: 6%;

    h1 {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 2rem;
    }
    p{
      color: #6c757d;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      padding-bottom: 2%;
      padding-top: 1%;

    }
    h3{
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
    }

    .choix{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 90vw;

      padding-top: 2%;

      section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 30vh;
        margin: 1%;
        padding: 1%;
        border-radius : 10px;

        box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);


        svg{
          width: 100%;
          height: 100%;
        }

        button{
          margin-top: 5%;
          width: min-content;
          height: 100%;
          background-color: #fff;
          border: 1px solid black;
          border-radius: 5px;
          font-size: 1.5rem;
          font-weight: bold;
          color: black;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          padding: 1%;
          &:hover{
            background-color: black;
            color: #fff;
          }
        }
      }
    }
  }

}